.button {
    font-size: .8rem;
    font-weight: 600;
    color: white;
    border-radius: 0.7vw;
    padding: .5rem;
    background-color: var(--blue-5);
    border: none;
}

.button:hover {
    transform: scale(110%);
    transition: 0.3s;
    cursor: pointer;
}