.commentListContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.commentContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1%;
}

.commentContainer img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.textAndLikesContainer {
    width: 100%;
}

.opInfo h4 {
    color: white;
    font-weight: 600;
    font-size: .8rem;
    margin: 0%;
}

.opInfo span {
    color: var(--gray-2);
    font-size: 0.6rem;
    font-weight: 600;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.commentBody {
    background-color: var(--blue-2);
    border-radius: 1vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 2%;
    margin-bottom: 2%;
}

.commentBody p {
    color: white;
    font-size: .8rem;
}